.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    position: relative;
    top: 70px;
    margin: 0 454px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}